Add information here to create a new form:

<%= form_for(@shop) do |f| %>
  <%= render partial: "layouts/form_error", locals: {object: @shop}%>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :detail%><br>
    <%= f.text_area :detail%><br>
    <%= f.hidden_field :user_id, :value => current_user.id%><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
