
<%= form_for(@contact) do |f| %>
<div class="field">

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :address %><br>
  <%= f.text_field :address %><br>

  <%= f.label :city%><br>
  <%= f.text_field :city%><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip %><br>
  <%= f.text_field :zip %><br>

  <%= f.label :phone%><br>
  <%= f.text_field :phone%><br>

</div>
<div class="actions">
  <%= f.submit %>
</div>




<% end %><br>
