

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :year %><br>
    <%= f.text_field :year %><br>

    <%= f.label :detail%><br>
    <%= f.text_area :detail%><br>

    <%= f.label :available%>:
    <%= f.label :available, "Yes", :value => "true"  %>
    <%= f.radio_button :available, true, :checked => true  %>
    <%= f.label :available, "No", :value => "false" %>
    <%= f.radio_button :available, false%><br>

    <%= f.label :condition%><br>
    <%= f.select :condition, ['new', 'used']%><br>

    <%= f.label :itemtype%><br>
    <%= f.select :itemtype, ['instrument', 'electronic', 'gadget', "miscellaneous"]%><br>

    <%=f.fields_for :categories do |cat|%>
            <%= cat.label :new_category_1%>
            <%= cat.collection_select :name, Category.order(:name), :id, :name, include_blank: true%><br>
            <%= cat.label :new_category_2%>
            <%= cat.collection_select :name1, Category.order(:name), :id, :name, include_blank: true%><br>
    <%end%>

    <%= f.label :quantity%><br>
    <%= f.text_field :quantity%><br>

    <%= f.hidden_field :shop_id, :value => @shop.id %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
