<%= form_for(@item) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :year %><br>
    <%= f.text_field :year %><br>


    <%= f.label :condition%><br>
    <%= f.text_field :condition%><br>

    <%= f.label :detail%><br>
    <%= f.text_area :detail%><br>

    <%= f.label :item_type%><br>
    <%= f.text_area :item_type%><br>

    <%= f.label :available%>:
    <%= f.label :available, "Yes", :value => "true"  %>
    <%= f.radio_button :available, true, :checked => true  %>
    <%= f.label :available, "No", :value => "false" %>
    <%= f.radio_button :available, false%><br>

    <%= f.label :quantity%><br>
    <%= f.text_field :quantity%><br>

    <%= f.hidden_field :shop_id, :value => parent.id%><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
