<h2>Lets add a new item to <%= @shop.name %>!</h2>
<%= render partial: "layouts/form_error", locals: {object: @item}%>

<%= form_for(@item, :url => shop_items_path(@shop)) do |f| %>
        <%= render partial: "items/form", locals: {f: f}%>
<% end %><br>

<%= link_to "cancel", shop_path(@shop)%>
