<nav class="header">
   <%= link_to "Homepage", genericpage_path %> <br>
   <%= render partial: 'layouts/signin'%><br>

   <% if current_user && !current_page?('/shops/new')%>
            <% if current_user.shops.count != 0 %>
                My shops: <%current_user.shops.each do |shop|%>
                          <%=link_to shop.name, shop_path(shop)%> |
                          <%end%><br>
                Create a new shop <%= link_to "here", new_shop_path%>
            <%else%>
                Create a shop <%= link_to "here", new_shop_path%>
            <%end%>
   <% end %>
</nav>
