<!DOCTYPE html>
<html>
  <head>
    <title>Mystic Ridge Music</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" pan-favicon="" href="https://cdn.vectorstock.com/i/1000x1000/87/17/mountains-outline-icon-vector-13778717.jpg">
  </head>

  <body>
          <h1>Mystic Ridge Music</h1>
          <p class="notice"><%= notice %></p> <br>
          <%= render 'layouts/signin'%><br>

          <%= yield %>
  </body>
</html>
